{% extends "template.html" %}
{% block content %}
	<h2>Welcome to the FlaskTaskr!</h2>
	<h3>Please login to access your task list.</h3>
	<!--<p>Temp Login: <a href="/tasks">Login</a></p>-->
		<form method="post" action="/">
			<p>{{ form.name.label }}: {{ form.name }}&nbsp;&nbsp;{{form.password.label }}: {{ form.password }}&nbsp;&nbsp;<input type="submit" value="Submit"></p>
		</form>
	<p><em>Use 'admin' for username and password</em></p>
	<br>
	<p><em>Need an account? </em><a href="/register">Signup!!</a></p>
{% endblock %}